<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>みんなのらくらく就活RPG</title>
    </head>
    <body class="user">
    <div class="c_whitebox">
    <h1 class="title">みんなのらくらく就活RPG</h1>
    <p>
    <p>
    <p>
    <br>
    <br>
    <a href="{{ url_for('findworktop') }}" class="rinboxsss">&emsp;就職対策&emsp;</a><br><br><br>
    <p>
    <p>
    <p>
    <br>
    <a href="{{ url_for('thread_page') }}" class="inboxsss">&emsp;掲示板&emsp;&emsp;</a><br><br><br>
    <p> 
    <p>
    <p>
    <a href="{{ url_for('u_inquiry') }}" class="inboxsss">お問い合わせ</a><br><br><br>
    <p>
    <p>
    <p>
    <a href="{{ url_for('myprofile') }}" class="pro">プロフィール</a>
    <p>
    <p>
    <p>
    <a href="{{ url_for('u_logout') }}"  class="na">ログアウト</a>
</div>

</body>
</html>