<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>～就職活動案内～</title>
    </head>
    
<body class="user">
    <!-- ここから -->
    <div style="text-align: center" class="c_whitebox_ng" >
    <h1>就職<span class="ak">勝</span>つ動の進め方</h1> <!-- 勝　だけ赤文字 -->
    <!-- 右側スクロールバー -->
​
  
  
    <h2>4.何度でもGo!Go!企業説明会</h2>
    <p class="a">大半の企業では、説明会に参加後、選考に参加することが可能です。<br>
        企業説明会には合同企業説明会と個別企業説明会があります。<br>
        合同企業説明会は複数の企業が一堂に会するもので、様々な企業の説明を聞くことができます。<br>
        こちらは、まだ志望業界が固まっていない人にもおすすめです。<br>
        個別企業説明会は、1社で開く説明会です。合同企業説明会よりも説明時間が長いため、<br>
        より詳細な内容を聞くことができます。
    </p>
    <br>
    <input type="button" class="Bbule" onclick="history.back();" value="戻る">
    </div>
    <!-- ここまで -->
    <style>
        .ak{ color: red;}
    </style>
</body>
</html>