<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>～就職活動案内～</title>
    </head>
    
<body class="user">
    <!-- ここから -->
    <div style="text-align: center" class="c_whitebox_ng" >
    <h1>就職<span class="ak">勝</span>つ動の進め方</h1> <!-- 勝　だけ赤文字 -->
    <!-- 右側スクロールバー -->
​
  
  
    <h2>5.いったもん勝ち🔥本選考！</h2>
    <p class="a">企業説明会に参加すると、企業の本選考に進むことができます。<br>
        企業の選考は、多くの場合、書類選考→グループ選考→個人選考という順番に進んでいきます。<br>
        この「みんなのらくらく就活RPG」では何から始めようか分からない人、<br>
        楽しく1つのサイトで学びたいという方におすすめ!<br>
        簡単な問題から難しい問題まで幅広く学習ができます。<br>
        選考が進めば進むほど、深い自己理解・企業理解が求められます。選考を受ける中でも、<br>
        自己分析や企業研究を進めて、自分の志望企業を絞って入社する企業を選びましょう。<br>
        自分の実力がわからないから知りたいという人は、実際に採用選考を受けてみるのもいいでしょう。<br>
        面接を受けてみて、どのように評価されるのか客観的な自分を知ることができます。<br>
        また、実際の緊張感がある面接を受けられるのはメリットです。<br>
        模擬面接などでは経験できない雰囲気で面接を受けられます。
    </p>
    <br>
    <input type="button" class="Bbule" onclick="history.back();" value="戻る">
    </div>
    <!-- ここまで -->
    <style>
        .ak{ color: red;}
    </style>
</body>
</html>