<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>～就職活動案内～</title>
    </head>
    
<body class="user">
    <!-- ここから -->
    <div style="text-align: center" class="c_whitebox_ng" >
    <h1>就職<span class="ak">勝</span>つ動の進め方</h1> <!-- 勝　だけ赤文字 -->
    <!-- 右側スクロールバー -->
​
    
  
    <h2>3.インターンシップ、恥ずかしがっちゃNo!No!</h2>
    <p class="a">おすすめの方法が、業界内の競合他社と2社間で比較する方法です。<br>
        調べたい企業の企業HPだけを調べていても、なかなかその企業の本質は見えてきません。<br>
        違いを知ることで新たな魅力が見つかるカモ！！
    </p>
    <br>
    <input type="button" class="Bbule" onclick="history.back();" value="戻る">
    </div>
    <!-- ここまで -->
    <style>
        .ak{ color: red;}
    </style>
</body>
</html>