<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>～就職活動案内～</title>
    </head>
    
<body class="user">
    <!-- ここから -->
    <div style="text-align: center" class="c_whitebox_ng" >
    <h1>就職<span class="ak">勝</span>つ動の進め方</h1> <!-- 勝　だけ赤文字 -->
    <!-- 右側スクロールバー -->

  <br>
  
    <h2>1.自己理解ってほんと大事！</h2>
    <p class="a">自分はどんなことがやりたいのか、どんな仕事がしたいのか…<br>
        まずは「自己分析」をすることが大事！！<br>
        自分のことを理解することが、ESや面接にも繋がっていきます。<br>
        「🔍就活 自己分析」
    </p>
    <br>
    <input type="button" class="Bbule" onclick="history.back();" value="戻る">
    </div>
    <!-- ここまで -->
    <style>
        .ak{ color: red;}
    </style>
</body>
</html>