<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>～就職活動案内～</title>
    </head>
    
<body class="user">
    <!-- ここから -->
    <div style="text-align: center" class="c_whitebox_ng" >
    <h1>就職<span class="ak">勝</span>つ動の進め方</h1> <!-- 勝　だけ赤文字 -->
    <!-- 右側スクロールバー -->
​
  
    <h2>2.業界研究にしっかり取り組もう！</h2>
    <p class="a">業界研究とは、自分の志望業界を決めるために、<br>
        様々な業界について調べることを指します。<br>
        きっかけはどんなことでも構いません。<br>
        ただし、注意することは、自分が知っている・興味を持っている<br>
        業界“だけ”を調べないこと！！！いろんな世界をみてみよう！
    </p>
    <br>
    <input type="button" class="Bbule" onclick="history.back();" value="戻る">
    </div>
    <!-- ここまで -->
    <style>
        .ak{ color: red;}
    </style>
</body>
</html>