<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>ミニゲーム</title>
    </head>
    
<body class="user">
    <h1>ミニゲーム</h1>
        <img src="{{ new_str }}">
        
        <div class="radio">
            <form action="{{ url_for('minigame') }}" method="get">
                <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
                <input type="hidden" name="now_s" value="{{now_s}}">
                <input type="radio" name="q1" value="1"> １
                <input type="radio" name="q1" value="2"> ２
                <input type="radio" name="q1" value="3"> ３
                <input type="radio" name="q1" value="4"> ４
                <input type="submit" id="attack" value="解答する">
            </form>
        </div>

        <form action="{{ url_for('minigame_ok') }}" method="post">
            <input  class="Bred" type="submit" value="ゲームを終わる">
        </form>
        <!-- <a href="{{ url_for('minigame_ok') }}"  class="Bbule">ゲームを終わる</a> -->

</body>
</html>