<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>プロフィール編集内容確認</title>
    </head>
    
<body class="user">
    <!-- ここから -->
    <div class="c_whitebox">
    <h1>MY profile</h1>

    <p style="text-align: center">下記の内容でお間違いないですか？</p>

    <form action="{{ url_for("profile_edit")}}" method="post">

        <input type="hidden" name="pw" value="{{ pw }}">
        
        
        <p>ID:{{ id }}</p><br>
        <p>pw:{{ pw }}</p><br>

        <input type="submit" value="編集" class="Bred">

    </form>

    <a class="Bbule" href="{{ url_for("profile_edit_page") }}">戻る</a>
    </div>
    <!-- ここまで -->

    <style>
        h1{ text-align: center; margin-bottom: 50px; margin-top: 5%;}
        p{ text-align: left; margin-bottom: 20px;}
        .Bred{ margin-left: 85%;} 
        .Bbule{ margin-right: 85%;} 
    </style>

</body>
</html>