<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>復習</title>
</head>
<body class="user">
    <div style="text-align: center" class="c_whitebox">
        <form action="{{ url_for('review_quiz_page') }}" method="post">
            <h1>復習モード</h1><br>

            <p>ここでは、不正解・未回答の問題を復習することができます</p>
    

            <input type="submit" class="Bred" value="復習モード スタート！！">
        </form>
    </div>
    <input type="button" class="Bbule" onclick="history.back();" value="戻る">

        <style>
            h1{ margin-bottom: 50px; margin-top: 5%;}
            p{margin-bottom: 20px;}
            .Bred{ margin-top: 10%;}
            .Bbule{ margin-top: 45%; margin-left: 130px;}
        </style>
</body>
</html>