<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>復習完了</title>
</head>
<body class="user">
    <div class="c_whitebox" style="text-align: center">
        <h1>全問題の復習完了！</h1>
    </div>
        <a class="Bbule" href="{{ url_for('findworktop_page') }}" >終了する</a>

        <style>
            h1{ text-align: center; margin-top: 20%;}
            .Bbule{ margin-top: 45%; margin-left: 130px;}
        </style>
</body>
</html>