<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>お問い合わせ受付画面</title>
</head>

<body class="user">
    
    <div style="text-align: center" class="c_whitebox" >
        <h1>お問い合わせ</h1>
        <p class="inquiryessay">各種お問い合わせは「<a href="mailto:jobgame.morijyobigmail.com">jobgame.morijyobi@gmail.com</a>」にて受け付けております。</p><br><br> 

        <p>件名にはお問い合わせ内容をご記入ください。</p><br>
        <p>お問い合わせに対する回答は<span class="time">平日9時30分～13時00分</span>までとなります。</p>​
        <p>時間外以降にお受けしたお問い合わせは後日回答いたします。</p>
        <input type="button" class="Bbule" onclick="history.back();" value="戻る">
    </div>

    <style>
        h1{ text-align: center; margin-bottom: 50px; margin-top: 5%;}
        .inquiryessay{  text-align: center; }
        p{ text-align: left; margin-bottom: 20px;}
        .time{ color: red;}
        .Bbule{ margin-right: 90%; margin-top: 10%;}
    </style>
    

</body>
</html>