<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>管理者トップページ</title>
    </head>
    
<body class="ad">
    <!-- ここから -->
    <div class="c_whitebox">
    <h1>みんなのらくらく就活RPG -管理者- </h1>

    <a class="taaaa" href="{{ url_for('reg_quiz_page') }}">問題登録</a>
    
    <a class="taaaa" href="{{ url_for('user_management_page') }}">アカウント管理</a>
    
    <a class="taaaa" href="{{ url_for('quiz_list') }}">問題管理</a>
    
    <a class="na" href="{{ url_for('ad_logout') }}">ログアウト</a>
    </div>
    <!-- ここまで -->
</body>
</html>